doctype html
html
  head
    title CRM Light
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    link(href= 'https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css', rel='stylesheet')
    link(href='./assets/css/index.css', rel='stylesheet')
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
    link(rel="stylesheet" type="text/css" href="/assets/css/gridforms/gridforms.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    script(src='//cdn.jsdelivr.net/npm/riot@3.10.3/riot.min.js')
    script(src='./tags/form-tag.js')
    script(src='./tags/tableLayout-tag.js')
    script(src='./tags/customerList-tag.js')
    h1 CRM Light
    form-tag
    tableLayout-tag
    customerList-tag

    
    script(src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js")
    script(src = "https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
    script(defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js")
    script.
      riot.mount('form-tag,tableLayout-tag,customerList-tag')
