tableLayout-tag
  table(id="myTable" class="display" style = 'width:95%')
        thead
          tr
            th
            th Name
            th Position
            th Office
            th Salary
        tfoot
          tr
            th 
            th Name
            th Postion
            th Office
            th Salary